<div class="forgot-password">
  <div class="forgot-password__header">
    <h1>{{'FORGOT.TITLE' | translate}}</h1>
  </div>
  <form
    *ngIf="forgotPasswordForm"
    class="forgot-password__form"
    [formGroup]="forgotPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="forgot-password__form__fields">
      <mat-form-field>
        <mat-label>{{'GLOBAL.EMAIL' | translate}}</mat-label>
        <input
          matInput
          formControlName="emal"
          type="email"
        >
      </mat-form-field>
      <div class="forgot-password__form__actions">
        <button
          mat-flat-button
          type="button"
          routerLink="/auth/login"
        >{{'GLOBAL.BACK' | translate}}</button>
        <button
          mat-flat-button
          type="submit"
        >{{'GLOBAL.SUBMIT' | translate}}</button>
      </div>
    </div>

  </form>
</div>
