.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 2rem;

  &__header {
    margin-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 1rem;
    }

    &__action {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      & button {
        &:first-child {
          margin-right: 1rem;
        }

        &:last-child {
          margin-left: 1rem;
        }
      }
    }

  }
}
